<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:cohart://</string>
		<string>webcredentials:staging.cohdev.co</string>
		<string>applinks:cohart.app.link</string>
		<string>applinks:cohart-alternate.app.link</string>
		<string>applinks:cohart.test-app.link</string>
		<string>applinks:cohart-alternate.test-app.link</string>
	</array>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
</dict>
</plist>
