<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>456689258489-d0ftuouaqr0o7s2cbtpfu4btbll1sdr9.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.456689258489-d0ftuouaqr0o7s2cbtpfu4btbll1sdr9</string>
		<key>API_KEY</key>
		<string>AIzaSyBWsEjWyAYkZvvNsyPrWjORDc9BWwgH2Og</string>
		<key>GCM_SENDER_ID</key>
		<string>456689258489</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.cohartinc.cohart</string>
		<key>PROJECT_ID</key>
		<string>cohart-beta-v1</string>
		<key>STORAGE_BUCKET</key>
		<string>cohart-beta-v1.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:456689258489:ios:6b615583ed1426a9ab7728</string>
	</dict>
</plist>
